.bgfooter {
    background-image: url('../img/bg-2.jpg');
}

.form-bgcolor {background-color: rgba(0,0,0,.2);}

.img-example-user {background-image:url('../img/300_21.jpg');}

.bg-tournamet-survivor {background-image:url('../img/pallone.jpg');}

.card-example {height: 125px;}

.card-example2 {height: 130px;}

.card-example3 {height: 50px;}

.card-example4 {height: 130px; background-image: url(../img/bg-9.jpg);}
.error-6 {background-image: url(../img/bgError.jpg);}

.card-example5{width: 75%;}

.card-example6{background-color: #1B283F;
    background-position: 0 calc(100% + 0.5rem);
    background-size: 100% auto;
    background-image: url(../img/rhone.svg)}

.card-example7{height: 175px;
    background-color: #4AB58E;
    background-position: calc(100% + 1rem) bottom;
    background-size: 25% auto;
    background-image: url(../img/custom-1.svg)}

@media (max-width: 991.99px) {
    .seriea-logo{
        display: none !important;
    }
}

@media (min-width: 992px) {
    .seriea-team{
        display: none !important;
    }
}

.atalantabg{
    background-image: url('../img/LoghiSerieA/atalanta.png');
}

.beneventobg{
    background-image: url('../img/LoghiSerieA/benevento.png');
}

.bolognabg{
    background-image: url('../img/LoghiSerieA/bologna.png');
}

.cagliaribg{
    background-image: url('../img/LoghiSerieA/cagliari.png');
}

.crotonebg{
    background-image: url('../img/LoghiSerieA/crotone.png');
}

.fiorentinabg{
    background-image: url('../img/LoghiSerieA/fiorentina.png');
}

.genoabg{
    background-image: url('../img/LoghiSerieA/genoa.png');
}

.interbg{
    background-image: url('../img/LoghiSerieA/inter.png');
}

.juvebg{
    background-image: url('../img/LoghiSerieA/juve.png');
}

.laziobg{
    background-image: url('../img/LoghiSerieA/lazio.png');
}

.milanbg{
    background-image: url('../img/LoghiSerieA/milan.png');
}

.napolibg{
    background-image: url('../img/LoghiSerieA/napoli.png');
}

.parmabg{
    background-image: url('../img/LoghiSerieA/parma.png');
}

.romabg{
    background-image: url('../img/LoghiSerieA/roma.png');
}

.sampdoriabg{
    background-image: url('../img/LoghiSerieA/sampdoria.png');
}
.sassuolobg{
    background-image: url('../img/LoghiSerieA/sassuolo.png');
}

.speziabg{
    background-image: url('../img/LoghiSerieA/spezia.png');
}

.torinobg{
    background-image: url('../img/LoghiSerieA/torino.png');
}

.udinesebg{
    background-image: url('../img/LoghiSerieA/udinese.png');
}

.veronabg{
    background-image: url('../img/LoghiSerieA/verona.png');
}

.serieabg{
    background-image: url('../img/LoghiSerieA/seriea.png');
}

.menu-squadre{max-width: 1200px !important;}

.card-timeday{
    background-position: right top; background-size: 30% auto;
    background-image: url(../img/abstract-1.svg)
}

.imgcalendar{
    width:15px;
    height:15px;
}